
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Reactapp, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to Reactapp. 
      We are so glad that you joined our amazing community.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>