<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishRoll</title>
    <meta name="keywords" content="WishRoll, Reaction pics">

    <meta name="description" content="Fostering vibrant communication,
    all over the interwebs.">
    <link rel="stylesheet" type="text/css" href="wishroll_universal.css">
    <link rel="icon" type="image/png" href="Media/favicon.png" />


    
    

</head>
<body >
    
    <header id="menuBarB">
        <a href="homepage.html">
            <h3 style="font-family: Roboto; color: black;">WishRoll</h3>
        </a>
        <a href="about.html">
            <div class="menuItem" style="font-family: Roboto; color: black;">About</div>
        </a>
    </header> 

    <div id="aboutHeader">
        <div id="aboutHeaderTitle">Meet the team.</div>
    </div>

    <div id="teamContainer" class="contentContainer">
        <a href="" target="_blank">
          <div class="flexPeopleCard">
            <div class="flexPeopleAvatarContainer"><img class="flexPeopleAvatar" src="Media/o_great2.jpg"></div>
            <h2 class="flexPeopleName" style="color: black; font-family: Roboto; font-weight: 600;">Great</h2>
            <p class="flexPeopleTitle" style="color: #646464;">iOS Developer, Backend</p>
          </div>
        </a>
    
        <a href="" target="_blank">
          <div class="flexPeopleCard">
            <div class="flexPeopleAvatarContainer"><img class="flexPeopleAvatar" src="Media/o_blossom1.jpg"></div>
            <h2 class="flexPeopleName" style="color: black; font-family: Roboto; font-weight: 600;">Blossom</h2>
            <p class="flexPeopleTitle" style="color: #646464;">Android Developer, Marketing</p>
          </div>
        </a>

        
    
        
        
    </div>

    <footer id="flexFooter" class="contentContainer " >
        <div class="footerCol">
            <a href="index.html">
                <h3 style="color: black; font-family: Roboto;">WishRoll</h3>
            </a>
            <small>© 2021 WishRoll</small>
        </div>

        <div class="footerCol">
            <h3 style="color: black;" >Policy</h3>
            <div class="footerLink">
                <a href="about.html">About</a>
            </div>
            <div class="footerLink">
                <a href="privacy.html">Privacy Policy</a>
            </div>
            <div class="footerLink">
                <a href="terms.html">Terms of Use</a>
            </div>
        </div>
        
        
        <div class="footerCol">
            <h3 style="color: black;" >Find us on</h3>
            <div class="footerLink">
                <a href="https://www.instagram.com/wishroll/" target="_blank">Instagram</a>
            </div>
            <div class="footerLink">
                <a href="https://www.twitter.com/wishroll/" target="_blank">Twitter</a>
            </div>
            <div class="footerLink">
                <a href="https://www.twitter.com/wishroll/" target="_blank">TikTok</a>
            </div>
        </div>

        <div class="footerCol">
            <h3 style="color: black;" >Contact Us</h3>
            <div class="footerLink">
                <a href="" target="_blank">info@wishroll.co</a>
           
            </div>
        </div>
      </footer>
    


    
</body>
</html>