@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,600,700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* text-decoration: none; */
}

/* Global */
.center{
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 90%;
   

}

.center2{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  height: 100%;
  
}

.center2 h1{
  font-size: 3vw;
  
  
}

.center2 ul li{
  text-align: center;
  line-height: 5vw;
  font-size: 2.5vw;
  font-weight: 100;
  
}

#section1{
  background-color: #16a2ef;
  color: white;
  height: 100vh;
  

  
}

#section1  h1{
  font-size: 2.5vw;
}

#section1 h2{
  font-size: 2vw;

}



.lower{
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 10%;
  
}

.listText{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
}

.lower h3{
  font-size: 1.25vw;
  font-weight: normal;
}

#section2{
  background-color:#04293E;
  color: white;
  height: 100vh;
}

#section3{
  background-color:white;
  color: black;
  height: 8vh;
  margin: 5%;
  
  


}

#left{
  float: left;
  font-size: 3vh;
  
}

#right{
  float: right;
  font-size: 3vh;
}



/* unvisited link */
a:link {
  color: inherit;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color:inherit ;
}

/* selected link */
a:active {
  color: inherit;
}

@media (max-width: 1024px){
  #section1  h1{
    font-size: 5.75vw;
  }
  
  #section1 h2{
    font-size: 4.5vw;
  
  }

  #section2 h1{
      font-size: 3vw;
  }

  #section2 ul li{
      font-size: 2.75vw;
  }

  .lower h3{
    font-size: 3vw;
  }

  #left{
    
    font-size: 2.5vw;
    
  }
  
  #right{
  
    font-size: 2.5vw;
  }
}


@media (max-width: 952px){

  #section1  h1{
    font-size: 5.5vw;
  }
  
  #section1 h2{
    font-size: 4vw;
  
  }

  #section2 h1{
      font-size: 3vw;
  }

  #section2 ul li{
      font-size: 2.75vw;
  }

  .lower h3{
    font-size: 3vw;
  }

  #left{
    
    font-size: 3vw;
    
  }
  
  #right{
  
    font-size: 3vw;
  }

}

@media (max-width: 375px){

  #section1  h1{
    font-size: 4.5vw;
  }
  
  #section1 h2{
    font-size: 3vw;
  
  }

  .lower h3{
    font-size: 3vw;
    font-weight: normal;
  }


  #section2 h1{
    font-size: 4vw;
}

#section2 ul li{
    font-size: 3.75vw;
}

  #left{
    
    font-size: 3vw;
    
  }
  
  #right{
    
    font-size: 3vw;
  }
}

