html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
}

a {
  transition-property: all;
  transition-duration: .7s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
}

.bodyFormatter *{
  color: black;
  width: 65%;
  margin: auto;
  line-height: 30px;

  
  
}

.bodyFormatter h2{
  margin-top: 60px;
  font-size: 30px;
  margin-bottom: 40px;
  
}

.bodyFormatter p{
  padding-left: 100px;
  font-size: 20px;
  font-weight: 400;
}



.termsSubtitle{
  text-decoration: underline;

}




a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}


a:hover {
  color: #000000;
}

p {
  transition-property: all;
  transition-duration: 1s;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #a1a7ae;
}

h1 {
  transition-property: all;
  transition-duration: .7s;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

h2 {
  transition-property: all;
  transition-duration: .7s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  transition-property: all;
  transition-duration: .7s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #FFFFFF;
  margin: 0 0 15px 0;
}


h4 {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1BA2F0;
  margin: 0;
}

.centerContainer {
  width: 100%;
  background-color: #16a2ef;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.textPortion {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 10px;
}

.photoAlbumTitle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;

}

.photoAlbumCounter{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BDBDBD;
    font-size: 30px;
    font-weight: 200;
}

.photoAlbum{
  display: flexbox;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FCFCFC;
  width: 610px;
  height: 740px;
  margin-bottom: 60px;
  margin-top: 50px;
  box-shadow: 0px 1px 6px  rgb(110, 110, 110);
}


.photoAlbumAnimation  {
  background: linear-gradient(183deg, #ff5757, #004aad, #ff914d, #c9e265, #89fa91, #defc56); 
  /* background-color: red; */
  border-radius: 5px;
  background-size: 1200% 1200%;
  height: 550px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  -webkit-animation: photoAlbumAnimation 31s ease infinite;
  -moz-animation: photoAlbumAnimation 31s ease infinite;
  animation: photoAlbumAnimation 31s ease infinite;
}

@-webkit-keyframes photoAlbumAnimation {
  0%{background-position:61% 0%}
  50%{background-position:40% 100%}
  100%{background-position:61% 0%}
}
@-moz-keyframes photoAlbumAnimation {
  0%{background-position:61% 0%}
  50%{background-position:40% 100%}
  100%{background-position:61% 0%}
}
@keyframes photoAlbumAnimation {
  0%{background-position:61% 0%}
  50%{background-position:40% 100%}
  100%{background-position:61% 0%}
}



/* Button */

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  transition-property: all;
  transition-duration: .7s;
  float: right;
  outline: none;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0 40px 0 40px;
  height: 54px;
  border-radius: 32px;
  background-color: #002F48;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  transition-property: all;
  transition-duration: .2s;
  background-color: #99DBFF;
  background-image: none;
  /* color: #000000; */
}

/* Card Backgrounds */
.whiteBg {
  background-color: #ffffff;
}

.wishrollBlueBg {
  background-color: #16a2ef;
}

.darkBlueBg {
  background-color: #002F48;
}

.blackBg {
  background-color: #000000;
}

.sectionDarkBlue {
  position: relative;
  width: 100%;
  background: #002F48;
  overflow: hidden;
}


.sectionWishrollBlue {
  position: relative;
  width: 100%;
  background: #002F48;
  overflow: hidden;
}

.tagline{
  font-size: 45px;
  color: white;
  margin-bottom: 50px;
  font-weight: 100;
  padding: 0px 10px 0 10px;
}

/* Footer Styles */
.footerCol {
  padding-bottom: 72px;
  
}

.footerLink {
  margin-bottom: 8px;
}

#flexFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 60px;
  justify-content: space-evenly;
  color: #BDBDBD;

  
}

#menuBarB {
  padding: 36px;
  width: calc(100% - 72px);
  z-index: 200;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.menuItem{
  color: white;
  font-size: 30px;

}

.menuBarB a{
  font-size: 30px;
}

.logoMenu{
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-style:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.callToAction{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 100px;
  justify-content: space-evenly;

}

.callToAction * {
  display: flex;
  flex-direction: row;
}

.androidText{
  color: white;
  font-weight: 400;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
}

/* Media Queries */
/* Screens with a max-width of 960px */

@media (min-width:100px) and (max-width:960px) {

  h1 {
      font-size: 40px;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }

  h2 {
      font-size: 36px;
    }

    .contentContainer {
      position: relative;
      width: 100%;
      padding-top: 64px;
    }
    .contentContainerWide {
      position: relative;
      width: calc(100% - 64px);
      padding: 32px;
    }

    .callToAction{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: inherit;
      justify-content: center;
      
    }

    .callToAction .button{
      margin-bottom: 50px;
      width: 50%;
      align-items: center;
      justify-content: center;
      
    }

   

   


}

@media (max-width:780px){

  .logoMenu{
    font-size: 30px;
  }

  .menuItem{
    font-size: 18px;
  }

  .tagline{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .bodyFormatter p{
    font-size: 10px;
    line-height: unset;
    padding-left: 50px;
  }

  .bodyFormatter *{
    color: black;
    
    margin: 10px;
  
  }

  .bodyFormatter h2{
    font-size: 15px;
    margin-bottom: 3px;
  }

  .textPortion {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 10px;
  }

  .photoAlbumTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;

  }
 
  .photoAlbumCounter{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #BDBDBD;
      font-size: 24px;
      font-weight: 200;
  }

  .photoAlbum{
    display: flexbox;
    flex-direction: column;
    border-radius: 15px;
    background-color: #FCFCFC;
    width: 495px;
    height: 600px;
    margin-bottom: 60px;
    margin-top: 50px;
    box-shadow: 0px 1px 6px  rgb(110, 110, 110);
  }


  .photoAlbumAnimation  {
    background: linear-gradient(183deg, #ff5757, #004aad, #ff914d, #c9e265, #89fa91, #defc56); 
    /* background-color: red; */
    border-radius: 5px;
    background-size: 1200% 1200%;
    height: 445px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-animation: photoAlbumAnimation 31s ease infinite;
    -moz-animation: photoAlbumAnimation 31s ease infinite;
    animation: photoAlbumAnimation 31s ease infinite;
}
}


@media (max-width:580px){

  .logoMenu{
    font-size: 20px;
  }

  .menuItem{
    font-size: 13px;
  }

  .tagline{
    font-size: 25px;
    margin-bottom: 15px;
  }

  .footerCol * {
    font-size: 10px;
    
  }

  .textPortion {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 10px;
  }

  

  .photoAlbumTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;

  }
 
  .photoAlbumCounter{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #BDBDBD;
      font-size: 18px;
      font-weight: 200;
  }

  .photoAlbum{
    display: flexbox;
    flex-direction: column;
    border-radius: 15px;
    background-color: #FCFCFC;
    width: 368px;
    height: 446px;
    margin-bottom: 60px;
    margin-top: 50px;
    box-shadow: 0px 1px 6px  rgb(110, 110, 110);
  }


  .photoAlbumAnimation  {
    background: linear-gradient(183deg, #ff5757, #004aad, #ff914d, #c9e265, #89fa91, #defc56); 
    /* background-color: red; */
    border-radius: 5px;
    background-size: 1200% 1200%;
    height: 331px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-animation: photoAlbumAnimation 31s ease infinite;
    -moz-animation: photoAlbumAnimation 31s ease infinite;
    animation: photoAlbumAnimation 31s ease infinite;
}
}


@media (max-width:375px){

  .logoMenu{
    font-size: 20px;
  }

  .menuItem{
    font-size: 10px;
  }

  .tagline{
    font-size: 20px;
    margin-bottom: 13px;
  }

  .footerCol * {
    font-size: 7px;
    
  }

  .textPortion {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 10px;
  }

  .callToAction .button{
    margin-bottom: 30px;
    width: 50%;
    align-items: center;
    justify-content: center;
    
  }

  .callToAction{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    justify-content: center;
    margin-bottom: 50px;
    
  }

  .photoAlbumTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    margin-bottom: 10px;

  }
 
  .photoAlbumCounter{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #BDBDBD;
      font-size: 11px;
      font-weight: 200;
  }

  .photoAlbum{
    display: flexbox;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FCFCFC;
    width: 238px;
    height: 288px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 0px 1px 6px  rgb(110, 110, 110);
  }


  .photoAlbumAnimation  {
    background: linear-gradient(183deg, #ff5757, #004aad, #ff914d, #c9e265, #89fa91, #defc56); 
    /* background-color: red; */
    border-radius: 5px;
    background-size: 1200% 1200%;
    height: 214px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
    -webkit-animation: photoAlbumAnimation 31s ease infinite;
    -moz-animation: photoAlbumAnimation 31s ease infinite;
    animation: photoAlbumAnimation 31s ease infinite;
}
}

@media (min-width:960px) {

  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
    line-height: 56px;
  }

  .contentContainer {
    position: relative;
    margin-left: 48px;
    padding-top: 130px;
  }
  .contentContainerWide {
    position: relative;
    width: calc(100% - 72px);
    max-width: 1040px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  

}

