<!DOCTYPE html>
<html>

<table class="m_-9158514466055573758background-table" style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:100%;margin:0;padding:16px;border:0" background-color="#f9f8f8">
	<tbody>
		<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
			<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
			<table style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:600px;margin:0 auto;padding:0;border:0" background-color="#f9f8f8">
				<tbody>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table class="m_-9158514466055573758header" style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:600px;text-align:center;margin:24px 0 0;padding:0;border:0" background-color="#f9f8f8">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:600px;margin:0;padding:0;border:0" text-align="center"><img src="https://blossomokonkwo.github.io/blossom/Media/wishrolllogoweb.png" style="width:200px;height:200px;margin-right:auto;margin-left:auto;margin-bottom:20px;display:block" title="WishRoll" class="CToWUd"></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table class="m_-9158514466055573758section m_-9158514466055573758section--top" style="border-spacing:16px;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;border-radius:8px;width:568px;text-align:center;border-bottom-right-radius:0;border-bottom-left-radius:0;margin:0 16px;padding:48px 36px 0;border:0" background-color="#ffffff">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
<span class="m_-9158514466055573758section-header" style="font-size:50px;font-weight:700;margin-bottom:32px;display:block">New Updates <span style="color:#16a2ef;">you'll love</span></span>

									<p style="font-size:25px;"> Search is now available on the WishRoll Keyboard! &nbsp;</p>
									<br>
									<br>
                                    <a href="https://apps.apple.com/us/app/wishroll-express-yourself/id1491280186" 
                                    style="color:inherit;text-decoration:none;font-size:20px" target="_blank" > <font color="#16a2ef"> <b style="font-weight:600">Update WishRoll Here</b> </font> </a>
</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table class="m_-9158514466055573758section" style="border-spacing:16px;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;border-radius:0;width:568px;text-align:center;margin:0 16px;padding:0;border:0" background-color="#ffffff">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0"><a href="https://u5124014.ct.sendgrid.net/ls/click?upn=0NTyjOUpuGQV-2FTzhsoxqohaIhSE-2By-2BfABTwLEg32XEmkmiUme6KV3z7lLDa6qmwF6kSssZ-2Fivs1DwTJ7Svz2p2S4phrrOFW5Lctbn5p4ZrIn49A10OXkYE6PeCy-2By6nERgR3eziZ-2B7Jm7lJKLi-2F3anQIDfueWxj8DYUL8-2FsIQANgh2m-2BTqYatkrFktRAQAZ0zQSZ_r6D-2FE6-2FoT8aIZbDSCzoNZ8pK-2F3osjFdEysT5pAtDgZtU85AQ3MIzafMpDFRBAqdPXMq0d5Uh0wsWTxxnQt2aokjFJhw-2BnNc4ei-2B1nmigWg2cH0Y1w4GrtW7GWnmyMnD1f9I2W32Q9kCa2fSD-2F9H0L2A7-2BonRf9i0zsUm7WLO04ma1eki9yq3Q4QzibAAQSGGwEHQk9oP02elSXWqw-2FOWrG2k-2B8H36qvSPvJislxwsoLrEiVYXrB7hubrP6mUZCZsCa5ea2cShe0MgfUucSRM0TworK-2FuHVbwFm6jQWmk05ngjORWboSsRqoK2Ml-2FVXW017JSoG1xCrFAf4zV7vDOT-2FLL7Uow2IqkmtW0MpxpW8MspYVndJcYtp91sCpkGj9XTNXJTY4o2eWOaDb4CHz8JFVvbp-2Bn8Kdk2XrWJsUgMTgZjQ23Z27ML4MbzKJuhOuNbUdb1RAV0YoFigNaLIoFRDcFmSTQQ5F3UNORPEg-2FrlqD30qT-2FICOWZjOUS913adYUpCkHOOiK3-2BrQxAd3Bic0hylnq60fcsE2e6vTerK0McyPa6rSJvj-2FtYN-2F5gVqeOae7zOiAEnI4zbpWMFrd2ZxuPErutgA4jep3O36wCA1bxpHE1V8PScbr9Kg57DKHVBEQlbL5Kszf5uvFGXZGgfPNyeiCyYnFeuif5Lj00CdcQ-3D" style="color:inherit;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://u5124014.ct.sendgrid.net/ls/click?upn%3D0NTyjOUpuGQV-2FTzhsoxqohaIhSE-2By-2BfABTwLEg32XEmkmiUme6KV3z7lLDa6qmwF6kSssZ-2Fivs1DwTJ7Svz2p2S4phrrOFW5Lctbn5p4ZrIn49A10OXkYE6PeCy-2By6nERgR3eziZ-2B7Jm7lJKLi-2F3anQIDfueWxj8DYUL8-2FsIQANgh2m-2BTqYatkrFktRAQAZ0zQSZ_r6D-2FE6-2FoT8aIZbDSCzoNZ8pK-2F3osjFdEysT5pAtDgZtU85AQ3MIzafMpDFRBAqdPXMq0d5Uh0wsWTxxnQt2aokjFJhw-2BnNc4ei-2B1nmigWg2cH0Y1w4GrtW7GWnmyMnD1f9I2W32Q9kCa2fSD-2F9H0L2A7-2BonRf9i0zsUm7WLO04ma1eki9yq3Q4QzibAAQSGGwEHQk9oP02elSXWqw-2FOWrG2k-2B8H36qvSPvJislxwsoLrEiVYXrB7hubrP6mUZCZsCa5ea2cShe0MgfUucSRM0TworK-2FuHVbwFm6jQWmk05ngjORWboSsRqoK2Ml-2FVXW017JSoG1xCrFAf4zV7vDOT-2FLL7Uow2IqkmtW0MpxpW8MspYVndJcYtp91sCpkGj9XTNXJTY4o2eWOaDb4CHz8JFVvbp-2Bn8Kdk2XrWJsUgMTgZjQ23Z27ML4MbzKJuhOuNbUdb1RAV0YoFigNaLIoFRDcFmSTQQ5F3UNORPEg-2FrlqD30qT-2FICOWZjOUS913adYUpCkHOOiK3-2BrQxAd3Bic0hylnq60fcsE2e6vTerK0McyPa6rSJvj-2FtYN-2F5gVqeOae7zOiAEnI4zbpWMFrd2ZxuPErutgA4jep3O36wCA1bxpHE1V8PScbr9Kg57DKHVBEQlbL5Kszf5uvFGXZGgfPNyeiCyYnFeuif5Lj00CdcQ-3D&amp;source=gmail&amp;ust=1587162123363000&amp;usg=AFQjCNGUswF53Wzu85yPfO2nOZLY3UE-WA"><img alt="Over" src="https://blossomokonkwo.github.io/blossom/Media/imessagenewnewnew.png" style="width:480px;height:480px;display:inline-block" class="CToWUd"></a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table class="m_-9158514466055573758section m_-9158514466055573758section--bottom" style="border-spacing:16px;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;border-radius:8px;width:568px;text-align:center;border-top-right-radius:0;border-top-left-radius:0;margin:0 16px 40px;padding:16px 36px 36px;border:0" background-color="#ffffff">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<p style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0 0 1.5em;padding:0;border:0"><font color="#16a2ef"><b style="font-weight:600">Enable Keyboard: &nbsp;</b></font>Settings > General > Keyboard > Add New Keyboard > WishRoll.</p>
									</td>
								</tr>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td class="m_-9158514466055573758button-img" style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0" text-align="center">

									
									
									<div id=":h6" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table class="m_-9158514466055573758section" style="border-spacing:16px;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;border-radius:8px;width:568px;text-align:left;margin:0 16px 40px;padding:36px;border:0" background-color="#ffffff">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td class="m_-9158514466055573758col" style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0" valign="top">
<span class="m_-9158514466055573758section-header m_-9158514466055573758small" style="font-size:12px;font-weight:600;margin-bottom:24px;display:block;letter-spacing:1px;text-transform:uppercase">Connect With Us!</span>
									<p style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;font-size:16px;line-height:1.4;margin:0;padding:0;border:0">Follow our socials to never miss an update.</p>
									</td>
									<td class="m_-9158514466055573758col" style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0" valign="top">
<span class="m_-9158514466055573758section-header m_-9158514466055573758small" style="font-size:12px;font-weight:600;margin-bottom:24px;display:block;letter-spacing:1px;text-transform:uppercase">Don’t have WishRoll?</span> <a href="https://apps.apple.com/us/app/wishroll-express-yourself/id1491280186" style="color:inherit;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://u5124014.ct.sendgrid.net/ls/click?upn%3D0NTyjOUpuGQV-2FTzhsoxqon5zPkF257mh4NDmwazcRM7mwH0keFFak0UmMDr3cuASl4xr_r6D-2FE6-2FoT8aIZbDSCzoNZ8pK-2F3osjFdEysT5pAtDgZtU85AQ3MIzafMpDFRBAqdPXMq0d5Uh0wsWTxxnQt2aokjFJhw-2BnNc4ei-2B1nmigWg2cH0Y1w4GrtW7GWnmyMnD1f9I2W32Q9kCa2fSD-2F9H0L2A7-2BonRf9i0zsUm7WLO04ma1eki9yq3Q4QzibAAQSGGwEHQk9oP02elSXWqw-2FOWrG2k-2B8H36qvSPvJislxwsoLrEiVYXrB7hubrP6mUZCZsCa5ea2cShe0MgfUucSRM0TworK-2FuHVbwFm6jQWmk05n4C98WVc1ZAclk4Ws1HnZrxA0I-2FcCqJLzBxvrcroibM8s55pLKiYI7ZqBjZQm9uOKn5mLBTcESXzUPmsQUhQOTlSrLZTIw7RtXTvc4Y5DT-2FeMgBXlNABYc-2BF-2FDibPE9FfqWTGvv6NOARkMJ6Q2tUC20A5Cturqh-2FaXT4QpBF2jHbdjQ24B1Ws3XLUR6R0nj-2FYtqTQDoOumW3qrh6liLbshAGkxiN3qHlwPvlG-2B753XiSpjGFYjsbSWNW5s-2FvUpEk6m18-2BWlfmO3xLCVp7EMLGM6j04thp5bCZrOZ-2BGSwXa-2Fl7-2FLZeUKvQtIqQr9CaRKcfQPdczII-2B3rj6VhoLRwuHMxxWx6lefdzEuSQuHEwSves1eBXOEqlN5rrtl9DhD4tE-3D&amp;source=gmail&amp;ust=1587162123363000&amp;usg=AFQjCNHgp5SNK4AfKiLyFDoP7HixV-uDgQ"><img alt="WishRoll App Store" class="m_-9158514466055573758button-download CToWUd" src="https://ci5.googleusercontent.com/proxy/Ku9ra_oVQusuhxiEdghnzW4cMx4DBbWEQP4JjtldJylrWmUU33v_VJKEpXPa_r8WTpKpX6m_WpqYnCOs9-I_bWR_lYCfJmEUiAImYs-30UnzSxW8e7Tl-oHTK3cZsXXcS9p7WLXFEEW7wuVRkCyuheZo2kWgcpEreqcxFe2d5RGHSYuBYYFbaExE=s0-d-e1-ft#https://appboy-images.com/appboy/communication/assets/image_assets/images/59d22fc456ec317c01ae5ee3/original.?1506947012" style="display:block;border-radius:8px;width:160px!important;height:47px!important;margin-bottom:16px"></a>
</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:600px;margin:0;padding:0 0 60px;border:0" text-align="center"><span style="display:block;width:170px;margin-right:auto;margin-left:auto">
										
										
										<a href="https://www.tiktok.com/@wishroll/video/6796046496870452485" style="color:inherit;text-decoration:none" target="_blank"><img src="https://blossomokonkwo.github.io/blossom/Media/tiktok.png" title="tiktok.png" style="display:inline-block;width:40px;height:40px;margin-right:2px;margin-left:2px" class="CToWUd"></a> 
										
										<a href="https://twitter.com/WishRoll" style="color:inherit;text-decoration:none" target="_blank" ><img src="https://ci5.googleusercontent.com/proxy/Syk8A0rTPLtuXNG82CqKo9Rt2iuct1JPG1aGMF2nfKtNyGwZ5b4dU-R1H033o8qFjX4Tmc6hSz6o-fgdwhKbCLWJg52VjwiRu1MASZIM1F3ijbL9Pq97NRjM_1EBJfBHYxdtOUYMV9ggoQvNC4Po6ott6NWMfIa4hbwCjGmmvWHRtl-StUfZ-yx-=s0-d-e1-ft#https://appboy-images.com/appboy/communication/assets/image_assets/images/59396dac5c5a686b037856cd/original.?1496935852" title="twitter.png" style="display:inline-block;width:40px;height:40px;margin-right:2px;margin-left:2px" class="CToWUd"></a> 
										
										<a href="https://www.instagram.com/wishroll/" style="color:inherit;text-decoration:none" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/CkOL6BqAedPAMRNv7aS-VrpS6or3vV7Ym5Y4mqx_0FgwEZj3CCL0hVMq_nu6WGAlPYt0KvtzsD8EJHbpZVcZGZClqsbmLtZKMFZx8qGH6kQjfqu4KYb7rh25Led0uJH5O0TX3CwdCBcQ7i9LuJ4zGG1zMrGUfmI8-2WFG2SL5g-yU8SpmF2JiTmL=s0-d-e1-ft#https://appboy-images.com/appboy/communication/assets/image_assets/images/59396d9e1b0e4d0e6cfbe381/original.?1496935838" title="instagram.png" style="display:inline-block;width:40px;height:40px;margin-right:2px;margin-left:2px" class="CToWUd"></a></span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>

			<table style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:600px;text-align:center;margin:24px auto 60px;padding:0;border:0">
				<tbody>
					<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
						<table style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;width:600px;margin:0 auto;padding:0;border:0" bacground-color="transparent">
							<tbody>
								<tr style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;margin:0;padding:0;border:0">
									<td style="border-spacing:0;font-family:'Proxima Soft',-apple-system,BlinkMacSystemFont,sans-serif;font-size:12px;width:600px;margin:0;padding:0;border:0" text-align="center">

</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</html>